<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>658</integer>
	<key>capHeight</key>
	<integer>658</integer>
	<key>copyright</key>
	<string>Copyright (c) 2010, Sebastian Kosch (sebastian@aldusleaf.org),
with Reserved Font Name "Crimson Text".
This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>descender</key>
	<integer>-223</integer>
	<key>familyName</key>
	<string>Crimson Text Nori</string>
	<key>openTypeHeadCreated</key>
	<string>2018/12/07 16:15:28</string>
	<key>openTypeHheaAscender</key>
	<integer>1106</integer>
	<key>openTypeHheaDescender</key>
	<integer>-739</integer>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Crimson Text Nori</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Bold</string>
	<key>openTypeOS2TypoAscender</key>
	<integer>717</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-307</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>92</integer>
	<key>openTypeOS2VendorID</key>
	<string>PfEd</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1106</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>739</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-20</integer>
		<integer>0</integer>
		<integer>439</integer>
		<integer>458</integer>
		<integer>459</integer>
		<integer>478</integer>
		<integer>638</integer>
		<integer>658</integer>
		<integer>658</integer>
		<integer>678</integer>
	</array>
	<key>postscriptFontName</key>
	<string>CrimsonTextNori-Bold</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-243</integer>
		<integer>-223</integer>
	</array>
	<key>postscriptStrikeoutPosition</key>
	<integer>265</integer>
	<key>styleMapFamilyName</key>
	<string>Crimson Text Nori Bold</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Bold</string>
	<key>unitsPerEm</key>
	<integer>1024</integer>
	<key>versionMajor</key>
	<integer>0</integer>
	<key>versionMinor</key>
	<integer>133</integer>
	<key>xHeight</key>
	<integer>439</integer>
</dict>
</plist>
