<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>658</integer>
	<key>capHeight</key>
	<integer>658</integer>
	<key>descender</key>
	<integer>-223</integer>
	<key>familyName</key>
	<string>Roman_SC_Bold_Italic</string>
	<key>italicAngle</key>
	<real>-11.0</real>
	<key>styleName</key>
	<string></string>
	<key>unitsPerEm</key>
	<integer>1024</integer>
	<key>xHeight</key>
	<integer>431</integer>
</dict>
</plist>
